<!DOCTYPE html>
html(lang="en")
include utilis/head
body
	.container
		.jumbotron
			h1 Init workflow
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, alias non ullam ratione deleniti magni perspiciatis incidunt libero officiis, sit, quibusdam voluptate enim cum quod earum perferendis ducimus totam exercitationem architecto beatae laborum! Asperiores non iure at! Ex, rerum, amet.
			button.btn.btn-primary Test
	include utilis/footer-scripts
