script(src="bower_components/jquery/dist/jquery.js")
script(src="bower_components/bootstrap/dist/js/bootstrap.js")
script(src="bower_components/owl/owl-carousel/owl.carousel.min.js")
script(src="js/main.js")